#btnUpdate {
    background-color: #1C939B;
    color: white;
    width: 100%;
    border-radius: 4px;
    border-width: 2px;
    border-color: black;
    margin-bottom: 5px;
}

#btnClearAll{
    background-color: #1C939B;
    color: white;
    width: 100%;
    border-radius: 4px;
    border-width:2px;
    border-color: black;   
    margin-bottom: 5px;

}

#accordion {
    margin-bottom: 5px;
}
#trcDistance {
    width: 80%;
    margin-left: 5px;
    margin-right: 5px;
}

#trcDistance .slider-selection {
    background: #7A1211;
}

.w3-card-4 {
    padding-right: 0px;
    padding-left: 0px;  
}
.w3-card-4.h3 {
    font-size: 10px;
}
img {
    width: 360px;
 max-width: 100%;
max-height:260px;

}
.btn.btn-default.pull-right {
    padding: 0px; 
    margin-bottom:2px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    
}
.modal-header{
    background-color: #1C939B; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1C939B, #DFF6F7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1C939B, #DFF6F7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1C939B, #DFF6F7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1C939B, #DFF6F7); /* Standard syntax */
    border-color:#DFF6F7;
    color: black;
}

.modal-body{
    background-color:#DFF6F7;   
}

#modalPanels{
    background-color:#1C939B;
}
.panel-footer{
    background-color:#DFF6F7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#DFF6F7, #1C939B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#DFF6F7, #1C939B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#DFF6F7, #1C939B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#DFF6F7, #1C939B); /* Standard syntax */
    border-color:#DFF6F7;
    text-align:center;
}
#messageUser {
    background-color:#DFF6F7;
    color:black;
    border-color: black;
    background-color:transparent;
    border-color:transparent;
}
